@import url(fonts/fontStyle.css);

body {
	margin: 0;
	padding: 0;
	background-color: #666;
	background:url(images/crisp_paper_ruffles.png);
	font: 1em 'open_sansregular', sans-serif;
}

#wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	background: url(images/blu_stripes.png);
	max-width: 1400px;
	box-shadow: 6px 10px 15px 0 #888;
	/****start round corner code****/
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	/****start round corner code****/
}

.left {
	display: block;
	margin-left:0;
}

.center {
	display: block;
	margin: 0 auto;
}

.right {
	display: block;
	margin-right:0;
}

#header {
	margin: 0;
	padding: 0;
	height: 215px; /** this makes room for height of lightbulb.png **/
	background: url(images/logo.png) top left no-repeat;
}

#header h1 {
	position: relative;
	top: 60px;
	right: 10px;
	padding: 0;
	margin: 0;
	font: 400 50px/1.2 'archisticobold', serif;
	text-align: right;
	color: #38a4c2; /* Old browsers */
	color: hsla(193, 55%, 49%, 0.9); /***hsla = Hue, Saturation, Lightness, Alpha***/
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

#header h1 span {
	font-size: 1em;
	color: #38a4c2; /* Old browsers */
	color: hsla(193, 55%, 49%, 0.9); /***hsla = Hue, Saturation, Lightness, Alpha***/
}

#nav {
	width: 100%;
	padding: 0;
	text-align:center;
	background: #1bb9e4; /* Old browsers */
	background: -webkit-linear-gradient(top, #83d9f1 0%,#1bb9e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #83d9f1 0%,#1bb9e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #83d9f1 0%,#1bb9e4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #83d9f1 0%,#1bb9e4 100%); /* W3C */
	box-shadow: 5px 0 15px -1.5px #888;
}

#nav #navHeader {
	display:none;
	margin-left: 5px;
	position: absolute; left: 0;
	font: 12px 'sonsie_oneregular', sans-serif;
	color:#FFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

#nav ul li {
	display: inline-block;
}

#nav ul li a {
	display: block;
	text-decoration:none;
	padding: 5px 0 5px 0;
	margin: 0 10px 0 0;
	font-family: 'open_sansbold', sans-serif;
	color: #b5bdc8;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#menu-icon {
	display:none;
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 60px;
	background: #1bb9e4 url(images/menu-icon.svg) no-repeat; /* Old browsers */
	background-size: cover;
}

#nav ul li a:hover {
	color:#fff;
}

#nav ul li a.urhere {
	width: 3.8em;
	padding: 15px 0;
	background: #0abaeb;
	text-align: center;
	font: 75% 'open_sansbold', sans-serif;
	text-decoration: none;
	color: #fff;
	box-shadow: 2px 0 8px -1.5px black;
	position:relative;
}

#nav ul li a.urhere:after {
	content: "";
	border-left: 22px solid transparent;
	border-right: 22px solid transparent;
	border-top: 10px solid #0abaeb;
	position: absolute; top: 47px; right: 0; left: 0; bottom: 0;
}

#content {
	margin: 0;
	padding: 5px;
	background: hsla(233, 35%, 100%, 1);
	font-size:1.15em;
}

#content div {
	margin: 10px;
}

#footer {
	margin: 0;
	padding: 5px;
	background: #83d9f1; /* Old browsers */
	background: -webkit-linear-gradient(top, #1bb9e4 0%,#83d9f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1bb9e4 0%,#83d9f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1bb9e4 0%,#83d9f1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1bb9e4 0%,#83d9f1 100%); /* W3C */	font-size: 0.75em;
	text-align: center;
	box-shadow: 5px 0 15px -1.5px #888;
	/****start round corner code****/
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	/****start round corner code****/
}

.clearFloat {
	clear: both;
	height: 0;
	font-size: 0.2em;
}

/*img {
	border: none;
}*/

.defList {
	border: 1px solid #646464;
	border-bottom: none;
	margin: 0;
	padding: 0;
	min-height: 50px;
}

.defTerm {
	height: 50px;
	width: 130px;
	font-family: 'open_sansbold', sans-serif;
	display: block;
	padding: 0;
	margin: 0;
	/*padding-left: 5px;*/
}

.defDescription {
	border-left: 1px solid #646464;
	margin: -50px 0 0 130px;
	min-height: 50px;
	display: block;
	padding: 0 0 0 5px;
}

.defListLast {
	border-bottom: 1px solid #646464;
}

dd ul {
	margin: 0 0 0 25px;
	padding: 5px;
}

/** being div table style **/

.cssTable {
	display:table;
}

.cssRow {
	display:table-row;
}

.cssCell {
	display:table-cell;
}

.cssTh {
	display: table-header-group;
}

/** end div table style **/

/** begin div table style for contact info **/

#contact_info {
	text-align: center;
}

#contact_info .cssCell {
	padding:0 5px;
}

/** end div table style for contact info **/

/** begin alternate navigation link colors**/

#foot a:link {
	color: #933;
	text-decoration: underline;
}

#footer a:visited {
	text-decoration: underline;
	color: #993332;
}

#footer a:hover {
	text-decoration: none;
	color: #993332;
}

#footer a:active {
	text-decoration: underline;
	color: #993332;
}

/**** end altnav link colors***/

/*** Start Calendar Table code ***/
table#calendar {
	background:white url(images/fwork.gif) center no-repeat;
	border-collapse:separate;
	border-spacing: 0;
	font-family: 'open_sansregular', sans-serif;
}

table#calendar a {
	text-decoration:none;
}

tr#days th {
	width:18%;
}

tr#days th.sat, tr#days th.sun {
	width:5%;
}

table#calendar tr#days th {
	color:#5ED2B8;
	background-color:#006B53;
    font-family: 'open_sansbold';
	text-align:center;
	padding:1px 0.33em;
}

table#calendar tr#title th {
	background:#5ED2B8;
	color:black;
	border:1px solid #006B53;
	font-size:120%;
}

table#calendar td {
	vertical-align:top;
	padding:0;
	border:0 solid gray;
	border-width:0 0 1px 1px;
}

table#calendar td.sat {
	border-right:1px solid gray;
}

table#calendar td a {
    font-family: 'open_sansbold';
	display:block;
	margin:0;
}

table#calendar a:link {
	color:navy;
}

table#calendar a:visited {
	color:purple;
}

table#calendar a:hover {
	background:#BF6730;
}

table#calendar td.sat, table#calendar td.sun {
	background:#ffd29e;
}

table#calendar td.jun, table#calendar td.aug {
	background:#8aadbc;
	color:#889;

	/*border:1px solid #8aadbc;
	border-right-color:#99A;*/
}

table#calendar tr#lastWeek td {
	border-bottom:2px solid #AAB;
}

table#calendar td.holiday {
	background:#FFA873;
	border-color:#BBB #FCC #FCC #BBB;
}

table#calendar td#jul16 {
	background-color:#FF6200;
	border:1px solid black;
}

td#jul16 div.date {
	color:#C33;
    font-family: 'open_sansbold';
	background:#FFC;
}

div.event {
	margin: 0.5em;
}

div.event span {
	display:block;
}

div.holiday {
    font-family: 'open_sansitalic';
}

span.time {
    font-family: 'open_sansbold';
}

span.loc {
	color:#555;
    font-family: 'open_sansitalic';
}

div.date {
	float:right;
	text-align:center;
	border:1px solid gray;
	border-width:0 0 1px 1px;
	padding:0.125em 0.25em 0 0.25em;
	margin:0;
	background:#F3F3F3;
}

td.sat div.date, td.sun div.date {
	border-width:0;
	color:gray;
	background:transparent;
}

td.jun div.date, td.aug div.date {
	border-width:0;
	color:gray;
	background:transparent;
}

/*** End Calendar Table code ***/

/*** BEGIN SLIDE STYLE ***/

div.pic {
    float: left;
    height: 130px;
    width: 130px;
    padding: 15px;
    margin: 5px 3px;
    background: url(images/frame-ls.gif) center no-repeat;
    box-shadow: 0 8px 6px -6px black;
}

div.pt {
    background-image: url(images/frame-pt.gif);
	box-shadow: 0 8px 6px -6px black;
}

div.pic img {
    border: 1px solid;
    border-color: #444 #AAA #AAA #444;
}

div.ls img {
    height: 96px;
    width: 128px;
    margin: 16px 0;
}

div.pt img {
    height: 128px;
    width: 96px;
    margin: 0 16px;
}

div.pic ul {
    display: none;
}

/*** END SLIDE STYLE ***/

#t_index.pt  {
	float: right;
}

/***begin media query**/

@media screen and (max-width: 600px)
{
	#wrapper{
		margin: 0;
		width: 100%;
		background: hsla(233, 35%, 100%, 1);
	}

	#nav {
		height:60px;
		margin-top: 0;
		margin-bottom: 0;
		background: #1bb9e4;
	}

	#nav #navHeader {
	display:inline-block;
}

	#nav ul li a.urhere {
		display:inline-block;
		top: 0;
		padding:initial;
		margin:initial;
		height:initial;
		width:initial;
		background: transparent;
		box-shadow: none;
		color: #FFF;
		font-size: 100%;
	}

	#nav ul li a.urhere:after {
		display:none;
	}

	#menu-icon {
		display:block;
	}

	ul#navPhoneMenu, #nav:active ul{
		display: none;
		position: absolute;
		padding: 20px;
		background: #1bb9e4;
		border: 1.5px solid #444;
		right: 0;
		top: 3.75em;
		width: 10%;
		border-radius: 4px 0 4px 4px;
	}

	#nav ul li {
		text-align: center;
		padding: 10px 0;
		margin: 0;
	}

	#header {
		display:none;
	}

	#content {
		padding:5px;
		margin:0;
	}

	#footer {
		background:#1bb9e4;
	}

	#footer a {
		font-size: 1.5em;
	}

}
/*** end media query****/


@media screen and (max-width: 381px)
{

	#nav #navHeader {
		top: -18.7px;
	}

}
